src/HelloNetduino/_ReSharper.*
*.6.0.ReSharper.user
*.sln.docstates.suo
src/HelloNetduino/HelloNetduino/bin/*
src/HelloNetduino/HelloNetduino/obj/*
*.csproj.user
src/Neduino.KnockSensor/_ReSharper*
src/Neduino.KnockSensor/Neduino.KnockSensor/bin/*
src/Neduino.KnockSensor/Neduino.KnockSensor/obj/*
src/Netduino.Lib.Common/_ReSharper*
src/Netduino.Lib.Common/bin/*
src/Netduino.Lib.Common/Netduino.Lib.Common.suo
src/Neduino.KnockSensor/Neduino.KnockSensor.suo
src/HelloNetduino/HelloNetduino.suo
src/Netduino.Lib.Common/obj/*
src/Netduino.PhotoCell/_ReSharper*
src/Netduino.PhotoCell/Netduino.PhotoCell/bin/*
src/Netduino.ServoTest/Netduino.ServoTest/bin/*
src/Netduino.PhotoCell/Netduino.PhotoCell/obj/*
src/Netduino.PhotoCell/Netduino.PhotoCell.suo