src/HelloNetduino/_ReSharper.*
*.6.0.ReSharper.user
*.sln.docstates.suo
src/HelloNetduino/HelloNetduino/bin/*
src/HelloNetduino/HelloNetduino/obj/*
*.csproj.user
src/Neduino.KnockSensor/_ReSharper*
src/Neduino.KnockSensor/Neduino.KnockSensor/bin/*
src/Neduino.KnockSensor/Neduino.KnockSensor/obj/*
src/Netduino.Lib.Common/_ReSharper*
src/Netduino.Lib.Common/bin/*
src/Netduino.Lib.Common/Netduino.Lib.Common.suo
src/Neduino.KnockSensor/Neduino.KnockSensor.suo
src/HelloNetduino/HelloNetduino.suo
src/Netduino.Lib.Common/obj/*
src/Netduino.PhotoCell/_ReSharper*
src/Netduino.PhotoCell/Netduino.PhotoCell/bin/*
src/Netduino.ServoTest/Netduino.ServoTest/bin/*
src/Netduino.PhotoCell/Netduino.PhotoCell/obj/*
src/Netduino.PhotoCell/Netduino.PhotoCell.suo
*OnBoardFlash.dat
src/Netduino.SDCardIO/_ReSharper*
*.6.1.ReSharper.user
src/Netduino.ServoTest/_ReSharper*
src/Netduino.SDCardIO/Netduino.SDCardIO/bin/*
src/Netduino.SDCardIO/Netduino.SDCardIO/obj/*
src/Netduino.ServoTest/Netduino.ServoTest/obj/*
src/Netduino.SDCardIO/Netduino.SDCardIO.sln.DotSettings.user
src/Netduino.ServoTest/Netduino.ServoTest.suo
src/Netduino.SDCardIO/Netduino.SDCardIO.suo
src/Thermometer/Thermometer.sln.DotSettings.user
src/Netduino.Lib.SixDOF/_ReSharper*
src/Netduino.Lib.SixDOF/Netduino.App.SixDOF/bin/*
src/Netduino.Lib.SixDOF/Netduino.App.SixDOF/obj/*
src/Netduino.Lib.SixDOF/Netduino.Lib.SixDOF/bin/*
src/Netduino.Lib.SixDOF/Netduino.Lib.SixDOF/obj/*
src/Netduino.TemperatureSensorTest/_ReSharper.*
src/Netduino.TemperatureSensorTest/Netduino.TemperatureSensorTest/bin/*
src/Netduino.TemperatureSensorTest/Netduino.TemperatureSensorTest/obj/*
*.suo
*.DotSettings.user